[Desktop Entry]
Type=Application
Name=Disk Management
Comment=Manage disks and partitions
Exec=gnome-disks
Icon=org.gnome.DiskUtility
Categories=System;
