[Unit]
Description=Daemon that renders map tiles using mapnik
Documentation=man:renderd
After=network.target auditd.service

[Service]
# Delay startup so WROLPi App and API have time to start.
ExecStartPre=/bin/sleep 30
# Map is uses a lot of resources, but not a high priority.
Nice=19
ExecStart=/usr/bin/renderd -f
User=_renderd

[Install]
WantedBy=multi-user.target