[Unit]
Description=WROLPi Python API
Wants=postgresql.service
PartOf=wrolpi.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/wrolpi/venv/bin/sanic main:api_app --host 0.0.0.0 --port 8081 -w 5
ExecReload=/bin/kill -HUP $MAINPID
Group=wrolpi
User=wrolpi
WorkingDirectory=/opt/wrolpi/
Restart=on-failure
# Higher than the App so the API can start.
Nice=4

[Install]
WantedBy=default.target
