[Desktop Entry]
Encoding=UTF-8
Name=WROLPi Help
Type=Link
URL=http://127.0.0.1:9086
Icon=/opt/wrolpi-help/venv/lib/python3.11/site-packages/mkdocs/themes/mkdocs/img/favicon.ico
