[Unit]
Description=WROLPi React APP
Wants=wrolpi-api.service
PartOf=wrolpi.target

[Service]
# Use development React app
ExecStart=/usr/bin/npm run start
Group=wrolpi
User=wrolpi
WorkingDirectory=/opt/wrolpi/app/
# Below the API so that Sanic worker can start.
Nice=6

[Install]
WantedBy=default.target
