[Unit]
Description=WROLPi React APP
Wants=wrolpi-api.service
PartOf=wrolpi.target

[Service]
# Use explicit `serve.json` so `epub.html` is not lost.
ExecStart=/usr/local/bin/serve build -l 3000 -c /opt/wrolpi/app/serve.json
Group=wrolpi
User=wrolpi
WorkingDirectory=/opt/wrolpi/app/
# Below the API so that Sanic worker can start.
Nice=6

[Install]
WantedBy=default.target
