os: linux
services:
  - docker
language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
before_install:
  - docker-compose -p wrolpi -f docker-compose.dev.yml up -d db
  - docker-compose -p wrolpi -f docker-compose.dev.yml up -d api
  - docker-compose -p wrolpi -f docker-compose.dev.yml run api db upgrade
  - docker-compose -p wrolpi -f docker-compose.dev.yml ps
  - docker-compose -p wrolpi -f docker-compose.dev.yml logs api
script:
  - docker-compose -p wrolpi -f docker-compose.dev.yml exec api pytest ./api
