alembic==1.7.5
beautifulsoup4==4.10.0
cachetools==5.0.0
mock==4.0.3
Pillow==9.0.0
Pint==0.18
psycopg2-binary==2.9.3
pytest-asyncio==0.17.2
pytest==6.2.5
python-magic==0.4.24
pytz==2021.3
PyYAML==5.3.1  # this is the only version available on RPi
requests==2.27.1
sanic-ext==22.1.2
sanic-testing==0.8.2
sanic==21.12.1
selenium==4.1.0
SQLAlchemy==1.3.22
srt==3.5.1
websockets==10.1
webvtt-py==0.4.6
yt-dlp==2022.1.21
