Pillow==10.3.0
Pint==0.21
PyYAML==6.0.1
SQLAlchemy[asyncio]==1.3.22
aiohttp~=3.9.5
alembic==1.10.4
beautifulsoup4==4.12.2
cachetools==5.3.0
ebooklib==0.18
feedparser==6.0.10
jc==1.25.3
libzim==3.3.0.post0
mock==5.1.0
psutil==5.9.5
psycopg2-binary==2.9.6
pypdf==3.17.0
pytest-asyncio==0.21.0
pytest==7.3.1
python-docx==1.1.0
python-dotenv==1.0.0
python-magic~=0.4.27
pytz==2023.3
sanic-ext==23.6.0
sanic-testing==22.6.0  # 23.6.0 has error with "expandtabs"
sanic==23.6.0  # This is the latest version of Sanic that avoids this bug: https://github.com/sanic-org/sanic/issues/2921
selenium==4.9.1
srt==3.5.3
vininfo[cli]==1.8.0
websockets==12.0
webvtt-py==0.4.6
yt-dlp==2024.8.6