Pillow==7.2.0
cachetools==4.1.1
dictorm>=4.2
docker>=4.2.2
mock>=4.0.2
pdfkit==0.6.1
psycopg2-binary>=2.8.5
pytest-cov>=2.10.0
pytest>=6.0.1
python-dotenv>=0.13.0
pyyaml>=5.3.1
sanic-cors>=0.10.0.post3
sanic-openapi>=0.6.1
sanic==20.6.3
srt==3.3.0
websockets>=8.1
webvtt-py==0.4.5
youtube-dl>=2020.6.16.1
