[Unit]
Description=WROLPi Python API
Wants=postgresql.service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/wrolpi/venv/bin/python /opt/wrolpi/main.py api

[Install]
WantedBy=default.target
