[Unit]
Description=WROLPi React APP
Wants=wrolpi-api.service
PartOf=wrolpi.target

[Service]
ExecStart=/usr/local/bin/serve -s build
WorkingDirectory=/opt/wrolpi/app/

[Install]
WantedBy=default.target
