[Unit]
Description=WROLPi React APP
Wants=wrolpi-api.service
PartOf=wrolpi.target

[Service]
ExecStart=/usr/bin/serve -s build -l 5000
Group=wrolpi
User=wrolpi
WorkingDirectory=/opt/wrolpi/app/

[Install]
WantedBy=default.target
