.channel-edit {
    border-radius: 3px;
    padding: 0.75em;
}

.channel-edit:hover {
    background-color: #7abaff;
    cursor: pointer;
}

::-ms-clear {
    display: none;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

pre.wrap-text {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.duration-overlay {
    position: absolute;
    top: 4px;
    right: 4px;
    color: black;
    background: #ffffff;
    padding: 0px 4px;
    border-radius: 3px;
}

.no-link-underscore {
    text-decoration: none !important;
}

.card-link {
    color: black;
}

.center-me {
    margin: 0 auto;
}

div.inverted {
    background-color: #1B1C1D;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(166, 166, 166);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.slider.disabled:before {
    background-color: #CCCCCC;
}

input:checked + .slider {
    background-color: #6435C9FF;
}

input.inverted:checked + .slider.inverted {
    background-color: #6435C9AA;
}

input.disabled + .slider {
    background-color: rgb(147, 147, 147);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

div.full-height {
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

td.file-path {
    cursor: pointer;
}

/* Necessary until react-semantic-toasts is upgraded to Node 18 */
.ui-alerts {
    position: fixed;
    z-index: 2060;
    padding: 24px;
}

.ui-alerts.top-right {
    top: 20px;
    right: 20px;
}

textarea.otp {
    width: 100%;
    color: #333;
}

.inline-header h1 {
    display: inline-block;
}

.inline-header h2 {
    display: inline-block;
}

.inline-header h3 {
    display: inline-block;
}

.inline-header h4 {
    display: inline-block;
}

.inline-header h5 {
    display: inline-block;
}

.inline-header span {
    margin-left: 1em;
}

.card-icon {
    min-height: 163px;
    text-align: center;
    padding-top: 53px;
}

.card-icon.inverted {
    background-color: #222222;
}

.modal .inverted {
    border-color: #888888;
}

.modal .header.inverted {
    color: #DDDDDD !important;
    background-color: #171616 !important;
}

.modal .content.inverted {
    color: #DDDDDD !important;
    border-color: #888888 !important;
    background-color: #171616 !important;
}

.modal .actions.inverted {
    color: #DDDDDD !important;
    border-color: #888888 !important;
    background-color: #171616 !important;
}

.modal.inverted i.close {
    color: #DDDDDD !important;
}

.clickable {
    cursor: pointer;
}

.segment.inverted {
    border: 1px solid #ffffff22 !important;
}

.inverted label {
    color: #DDDDDD !important;
}

.table-ellipsis td.column-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0; /* Ensures the content doesn't exceed the cell's width */
    min-width: 25em; /* About iPhone SE width */
}

.card-title-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-container {
    display: flex;
    justify-content: flex-start;
}

.search-input {
    flex-grow: 1;
}

.search-clear {
    margin: 10px;
}

.icon.divider {
    color: rgb(0, 0, 0, 0.4) !important;
}

.divider.inverted {
    color: rgb(255, 255, 255, 0.6) !important;
}

.video-player {
    display: block;
    margin: 0 auto; /* Center the video horizontally */
}

table.ratio-table td.equal-width {
    width: 48%;
}

table.ratio-table td.min-width {
    width: auto;
}
