.channel-edit {
    border-radius: 3px;
    padding: 0.75em;
}

.channel-edit:hover {
    background-color: #7abaff;
    cursor: pointer;
}

::-ms-clear {
    display: none;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

pre.wrap-text {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.duration-overlay {
    position: absolute;
    top: 4px;
    right: 4px;
    color: black;
    background: #eee;
    opacity: 0.8;
    padding: 0px 4px;
    border-radius: 3px;
}

.no-link-underscore {
    text-decoration: none !important;
}

.card-link {
    color: black;
}

.center-me {
    margin: 0 auto;
}

div.inverted {
    background-color: #1B1C1D;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(166, 166, 166);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.slider.disabled:before {
    background-color: #CCCCCC;
}

input:checked + .slider {
    background-color: #2185d0;
}

input.inverted:checked + .slider.inverted {
    background-color: rgba(33, 133, 208, 0.4);
}

input.disabled + .slider {
    background-color: rgb(147, 147, 147);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

div.full-height {
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

td.file-path {
    cursor: pointer;
}

/* Necessary until react-semantic-toasts is upgraded to Node 18 */
.ui-alerts {
    position: fixed;
    z-index: 2060;
    padding: 24px;
}

.ui-alerts.top-right {
    top: 20px;
    right: 20px;
}
