{% extends "wrolpi/templates/macros.html" %}

{% block html %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/external/fontawesome-free/css/all.min.css"/>
        <link rel="stylesheet" href="/static/external/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/external/plyr.css">
        <link rel="stylesheet" href="/static/wrolpi.css"/>

        <title>
            {% if title is defined and title %}
                {{ title + ' - WROLPi' }}
            {% else %}
                WROLPi
            {% endif %}
        </title>

        {% include "wrolpi/templates/nav.html" %}

    </head>
    <body style="padding-top: 70px;">
    <div class="container-fluid">
        <!-- messages/errors will be added below -->
        <div id="success-message" class="alert alert-success alert-dismissible fade show" role="alert"
             style="display: none;">
            <span class="message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="alert-message" class="alert alert-warning alert-dismissible fade show" role="alert"
             style="display: none;">
            <span class="message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="danger-message" class="alert alert-danger alert-dismissible fade show" role="alert"
             style="display: none;">
            <span class="message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% block body %}
        {% endblock %}
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/external/jquery-3.4.1.js"></script>
    <script src="/static/wrolpi.js"></script>
    <script src="/static/external/popper.js"></script>
    <script src="/static/external/bootstrap.js"></script>
    <script src="/static/external/plyr.js"></script>
    </body>
    </html>
{% endblock %}