<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for link in pagination['links'] %}
            {% set sub_offset, active, disabled, page = link['sub_offset'], link['active'], link['disabled'], link['page'] %}
            {% set active='active' if active else '' %}
            {% set disabled='disabled' if disabled else '' %}
            <li class="page-item {{ active }} {{ disabled }}">
                <a class="page-link" href="?offset={{ sub_offset }}">{{ page }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>