<nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">WROLPi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% for plugin in PLUGINS.values() %}
                {% set is_active='active' if plugin.PLUGIN_ROOT and plugin.PLUGIN_ROOT == PLUGIN_ROOT else '' %}
                <li class="nav-item">
                    <a class="nav-link {{ is_active }}" href="/{{ plugin.PLUGIN_ROOT }}">{{ plugin.PRETTY_NAME }}</a>
                </li>
            {% endfor %}
        </ul>

        {% if PLUGIN_ROOT is defined and PLUGIN_ROOT %}
            <form class="form-inline my-2 my-lg-0" method="GET" action="/{{ PLUGIN_ROOT }}/search">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search"
                       value="{{ SEARCH|escape }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>
