[Unit]
Description=WROLPi Python API
Wants=postgresql.service
PartOf=wrolpi.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /opt/wrolpi/main.py -v api
Group=wrolpi
User=wrolpi
WorkingDirectory=/opt/wrolpi/

[Install]
WantedBy=default.target
